.blue-600 {
  background-color: #0a58ca !important;
}

.blue-700 {
  color: #084298 !important;
}

.blue-800 {
  color: #052c65 !important;
}

.navbar-toggler {
  border-color: #052c65 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5,44,101)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card-img-top {
  height: 15rem;
  object-fit: contain;
}
